<HTML>
<HEAD>
<TITLE> Viet Calendar Demo </TITLE>
<link rel="stylesheet" type="text/css" href="style.css">
</HEAD>
<BODY>
<!-- begin box -->
      <TABLE cellSpacing=0 cellPadding=0 width="150" border=0 align="left">       
        <TR>
          <TD bgColor=#cccccc><IMG height=1 width=1></TD>
          <TD bgColor=#cccccc><IMG height=1 width=1></TD>
          <TD bgColor=#cccccc><IMG height=1 width=1></TD></TR>
        <TR>
          <TD bgColor=#cccccc><IMG height=1 width=1></TD>
          <TD width="100%">
            <TABLE cellSpacing=0 cellPadding=3 width="100%" border=0>              
              <TR>
                <TD>
                  <TABLE height="100%" cellSpacing=0 cellPadding=0 width="100%" border=0>                
                    <TR>
                      <TD bgColor=#cccccc><IMG height=1 width=1></TD>
                      <TD bgColor=#cccccc><IMG height=1 width=1></TD>
                      <TD bgColor=#cccccc><IMG height=1 width=1></TD></TR>
                    <TR>
                      <TD bgColor=#cccccc><IMG height=1 width=1></TD>
                      <TD width="100%" bgColor=#e8e8e8>
                        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>                       
                          <TR>
                            <TD bgColor=#eeeeee>
                              <TABLE cellSpacing=0 cellPadding=3 width="100%" border=0>                 
                                <TR>
                                <TD bgColor=#eeeeee background="$imagesdir/boxbg.gif" class="fontheader"><A HREF="?viewwot=fullcalendar" title="view full calendar" target="_blank">Viet Calendar v1.0</A></FONT></TD></TR></TABLE></TD>
                            </TR></TABLE></TD>
                      <TD bgColor=#cccccc><IMG height=1 width=1></TD></TR>
                    <TR>
                      <TD bgColor=#cccccc><IMG height=1 width=1></TD>
                      <TD bgColor=#cccccc><IMG height=1 width=1></TD>
                      <TD bgColor=#cccccc><IMG height=1 width=1></TD></TR></TABLE></TD></TR>
              <TR>
                <TD>
                  <TABLE height="100%" cellSpacing=0 cellPadding=0 width="100%" border=0>                
                    <TR>
                      <TD bgColor=#cccccc><IMG height=1 width=1></TD>
                      <TD bgColor=#cccccc><IMG height=1 width=1></TD>
                      <TD bgColor=#cccccc><IMG height=1 width=1></TD></TR>
                    <TR>
                      <TD bgColor=#cccccc><IMG height=1 width=1></TD>
                      <TD width="100%">
                        <TABLE borderColor=#ffffff cellSpacing=0 cellPadding=3 
                        width="100%" border=0>                          
                          <TR>
                            <TD bgColor=#ffffff align=center>$showcalendar</TD>
						  </TR></TABLE>
					  </TD>
                      <TD width=1 bgColor=#cccccc height=1><IMG height=1 width=1></TD>
					</TR>
                    <TR>
                      <TD width=1 bgColor=#cccccc height=1><IMG height=1 width=1></TD>
                      <TD width=1 bgColor=#cccccc height=1><IMG height=1 width=1></TD>
                      <TD width=1 bgColor=#cccccc height=1><IMG height=1 width=1></TD>
  				    </TR></TABLE></TD></TR></TABLE></TD>
          <TD width=1 bgColor=#cccccc height=1><IMG height=1 width=1></TD>
		</TR>
        <TR>
          <TD width=1 bgColor=#cccccc height=1><IMG height=1 width=1></TD>
          <TD width=1 bgColor=#cccccc height=1><IMG height=1 width=1></TD>
          <TD width=1 bgColor=#cccccc height=1><IMG height=1 width=1></TD>
		</TR>
</TABLE>
<!-- end box -->
</BODY>
</HTML>
